@model sc2playtime.Controllers.Playtime
@{
    ViewData["Title"] = "Results";
}

<div>
    <ul>
        <li>Games played: @Model.GetGames()</li>
        <li>Total playtime: @Model.GetHours() hours</li>
    </ul>
</div>

